    h1 {
    	font-family: 'Fira Mono', monospace;
    }
    section {
    	font-family: 'Fira Mono', monospace;
    	margin-top: 40px;
    }

    @media (min-width: 768px) {
      #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
      }
      #sidebar.affix-top {
        position:static;
        width:228px;
        margin-top: 40px;
      }
    }

    h1 {
    	margin-top: 50px;
    }
    body {
    	padding-top: 40px;
    }

    .final {
      margin-bottom: 100px;
    }

    dl.dl-vertical>dt {
      margin-left: 2em;
    }

    dl.dl-vertical>dd {
      margin-left: 3em;
    }

    dd>dl.dl-horizontal {
      margin-left: -6em;
    }

    pre {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 2em;
      padding-right: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }

    .sections h3 {
      font-size: 1.4em;
      font-family: 'Fira Mono';
    }

    div.inner {
      padding-left: 5em;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p.inner {
      padding-left: 1em;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p.spacer {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  
    dl.inner {
      padding-left: 2em;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    li.ss {
      font-size: .8em;
      padding-left: 20px;
    }

    li.ss>a {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    em {
      font-weight: normal;
      text-decoration: underline;
    }