# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Python
*.pyc

# Project specific
parse.log
page_hashes.dat
ignore_page_file.dat
sources

# Vagrant Crap
.vagrant

# Ignore huge debian indexes
Packages-index
Contents
